#root {
  background-color: #FAFAFA;
}
.navbar {
  width: 90vw;
  margin: auto;
}
.post-category, .post-heading, .post-meta {
  float: none;
  margin: 10px auto 0;
  padding-left: 0;
  padding-right: 0;
  width: 83.33%;
}
.post-heading {
  line-height: 1.14286;
  padding-bottom: 10px;
  font-weight: 600;
}
.post-meta {
  list-style: none;
}
.post-meta > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  padding: 0;
  vertical-align: middle;
}
.post-meta__author-image {
  background: #cccccc;
  border-radius: 16px;
  height: 32px;
  margin-right: 12px;
  overflow: hidden;
  width: 32px;
}
.post-meta__date {
  color: #999999;
  display: block;
  font-size: 13px;
}
.post-content {
  width: 68%;
  float: none;
  margin: 2em auto;
  padding: 0;
}
.post-content ul {
  font-size: 20px;
}
.post-content img {
  height: auto;
  max-width: 100%;
}
.multiapp-wrapper {
  padding: 0.5em;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
}
.multiapp-wrapper .multiapp-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #E0E0E0;
  float: left;
  width: 33.33%;
}
.multiapp-description__image {
  width: 33.33%;
  padding-left: 11px;
  padding-right: 11px;
}
.multiapp-wrapper .multiapp-image img {
  width: 150px;
  max-height: 150px;
  border-radius: 20px;
}
.multiapp-description__detail {
  width: 66.67%;
}
.multiapp-description__price {
  display: none;
}
.multiapp-wrapper .multiapp-dl {
  position: relative;
  margin-top: 1.5em;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
}
.multiapp-wrapper .multiapp-dl__wrapper {
  display: inline-block;
  padding: 15px 5px;
  background-color: #FAFAFA;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.04);
}
.multiapp-wrapper .multiapp-dl__button {
  display: inline-block;
  padding: 0 0.5em;
}
.multiapp-wrapper .multiapp-dl__wrapper span {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 12px;
}
.multiapp-wrapper .multiapp-dl .google-store-button img, .multiapp-wrapper .multiapp-dl .app-store-button img {
  width: 135px;
}
